/* UTILITIES */

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

img {
  width: 100%;
}

/* utils */

body {
  background-color: black;
}

[class*="col"] {
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-1-6 {
  width: calc(100% / 6);
}
/* alert */

.alertbt {
  color: red;
  padding: 10px;
  background-color: rgba(248, 0, 0, 0.264);
  border: red 2px solid;
  border-radius: 1rem;
}

.alertbt.alertc-black {
  color: rgb(0, 0, 0);
  border: rgb(255, 255, 255) 2px solid;
  background-color: rgb(255, 255, 255);
}

/* button  */

.singup {
  border-color: #0282f9;
  padding: 10px;
  background-color: transparent;
  padding: 10px;
  margin: 20px 0px;
}

.singup a {
  color: white;
}

#loadbt {
  background-color: #0282f9;
  border: 1px solid #0282f9;
  padding: 5px 50px;
}

#series {
  background-color: #0282f9;
  border: 1px solid #0282f9;
  padding: 5px 20px;
}

#series a {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  font-weight: bold;
}
#loadbt a {
  color: rgb(255, 255, 255);
  font-size: 0.6rem;
}

.buttonholder {
  display: flex;
  justify-content: center;
  padding: 20px;
}
#librarycontainer {
  position: relative;
}

.buttonseries {
  position: absolute;
  top: -20px;
  left: 3px;
}

/* HEADER  */

header {
  background-color: white;
}

.header-right ul {
  display: flex;
  justify-content: end;
  font-size: 0.6rem;
  gap: 20px;
}
.header-right ul li a {
  font-weight: bold;
}
.header-left {
  display: flex;
  justify-content: start;
}

.header-left img {
  width: 5rem;
  padding: 10px 0px;
}

/* MAIN  */

main {
  background-color: #924d4d;
}

/* Jumbotron  */

.jumbotron img {
  object-fit: cover;
  object-position: top;
  max-height: 300px;
}
/* Jumbotron  */

/* library */

#librarybandle {
  padding: 30px 0px;
}

.topcard {
  height: 50%;
}

.topcard img {
  width: 100%;
}

.bottomcard {
  color: white;
}

/* library */

.contentadd {
  color: white;
  padding: 50px;
}

/* Shopbandle */

#bandle {
  background-color: #0282f9;
  color: white;
  z-index: 10;
}

#bandle .container {
  justify-content: space-evenly;
}
#bandle .container ul {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 50px;
  padding: 30px;
  font-size: 0.7rem;
}

#bandle .container ul li {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

#bandle .container ul img {
  width: 40px;
  padding-right: 10px;
}

/* Footer top  */

.footer-top {
  background-image: url("../../../footer-bg.jpg");
  background-size: 100%;
}

.links-footer {
  color: white;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  margin-top: -50px;
}
.footer-top .container {
  width: 100%;
}

.links-footer a {
  color: gray;
  font-size: 0.7rem;
}

.links-photo {
  width: 50%;
}

.links-photo img {
  width: 100%;
  margin-top: 0px;
}

/* footer bottom  */

.footer-bottom {
  background-color: #303030;
}

.follow a {
  color: #0282f9;
}

.footer-right img {
  width: 10%;
}

.footer-right {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
