/* UTILITIES */

* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 100%;
}

/* utils */

body {
  background-color: black;
}

/* HEADER  */

header {
  background-color: white;
  margin-top: 50px;
}

.header-right ul {
  display: flex;
  justify-content: end;
  font-size: 0.6rem;
  gap: 10px;
}

.header-left {
  display: flex;
  justify-content: start;
}

.header-left img {
  width: 5rem;
  padding: 10px 0px;
}
